<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../Css/Main.css">
	<link rel="stylesheet" type="text/css" href="../Css/Univeral.css">
	<script src="https://kit.fontawesome.com/802bbd9b72.js" crossorigin="anonymous"></script>
	<title>MainPage</title>
</head>
<body>
	<!--Header-->
	<div class="Container MainHeader">
		<div class="Container NavBar">
			<ul>
				<li><a href="#" class="Title Small">The Seaker</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Schedule</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="right">
				<li class="right"><a href="#" class="Button">Register</a></li>
				<li class="right"><a href="#" class="Button">Login</a></li>
			</ul>	
		</div>
		<div class="Container Icons">
			<div class="Icon Frame">
				<img src="">
				<h1 class="Title">Daily Tarot</h1>
				<p>Pick your cards and it shall tell your future</p>
			</div>
		</div>
		<!--Card-->
		<div class="Container CarDrawer">
			<div class="DrawCard Frame">
				<div class="Cards Frame">
					<div class="Card">
						<div class="CardFront"><img src=""></div>
						<div class="CardBack"><img src=""></div>
					</div>
					<div class="Card">
						<div class="CardFront"><img src=""></div>
						<div class="CardBack"><img src=""></div>
					</div>
					<div class="Card">
						<div class="CardFront"><img src=""></div>
						<div class="CardBack"><img src=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Body-->
	<div class="devider"></div>
	<div class="devider"></div>
	<div class="devider"></div>
	<div class="Container MainBody">	
		<!--Intro-->
		<div class="Intro Frame">
			<div class="Intros Container">
				<div class="Image Container fifty">
					<div class="Box Container fifty">
						<div class="Images"><img src=""></div>
						<div class="ImageFrame"></div>
					</div>					
				</div>
				<div class="Text Container fifty">
					<div class="Title">					
						<h1 class="margin">What is Tarot?</h1>
						<p class="margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit nec enim eget dignissim. Pellentesque sodales feugiat risus a lobortis. Nullam feugiat urna vitae dui porttitor, in mollis urna congue. Fusce a nisl velit. Cras facilisis tristique turpis id aliquam.</p>
						<a href="#" class="Button">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="devider">
			<div class="moon">
				<img src="">
			</div>
		</div>	
		<!--Service-->
		<div class="Service Container">
			<div class="Services Frame Aligin">
				<div class="Title Aligin">
					<h1>Our Service</h1>
					<p>Check out our service and pick your favorite</p>
				</div>
				<div class="Service">
					<div class="InnerService Container">
						<div class="rights Aligin ShadowBox background-fading">
							<i class="fa-solid fa-chevron-left color padding Aligin	"></i>
						</div>
						<!--Service Box-->
						<div class="ServiceBox">	
							<div class="Product Aligin">
								<div class="Imaged">
									<img src="">			
								</div>
								<p class="Title NoWarp">Personal Reading</p>
								<p class="Content">ask us any question in 2 hours</p>
								<a href="#" class="Button">Learn more</a>
							</div>
							<div class="Product Aligin">
								<div class="Imaged">
									<img src="">									
								</div>
								<p class="Title NoWarp">Personal Reading</p>
								<p class="Content">ask us any question in 2 hours</p>
								<a href="#" class="Button">Learn more</a>
							</div>
							<div class="Product Box Aligin">
								<div class="Imaged">
									<img src="">									
								</div>
								<p class="Title NoWarp">Personal Reading</p>
								<p class="Content">ask us any question in 2 hours</p>
								<a href="#" class="Button">Learn more</a>
							</div>
							<div class="Product Aligin">
								<div class="Imaged">
									<img src="">									
								</div>
								<p class="Title NoWarp">Personal Reading</p>
								<p class="Content">ask us any question in 2 hours</p>
								<a href="#" class="Button">Learn more</a>
							</div>

						</div>
						<div class="lefts Aligin ShadowBox background-fading">
							<i class="fa-solid fa-chevron-right color padding Aligin"></i>
						</div>
					</div>
					<div class="section Container Aligin">
						<ul class="Dot">
							<div class="dot" id="1"></div>
							<div class="dot" id="2"></div>
							<div class="dot" id="3"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--Devider-->
		<div class="devider"></div>
		<!--Zodiac-->
		<div class="Zodiact Frame Aligin">
			<div class="Title">
				<h1>Your Zodiact</h1>
				<p>Discover your Zodiact Journey</p>
			</div>
			<div class="Zodiact Frame Aligin">
				<div class="top Frame">
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
				</div>
				<div class="bottom Frame">
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
					<div class="box">
						<div class="Image">
							<img src="">
						</div>
						<p class="Title">Aries</p>
						<p class="content">March 21-April 19</p>
					</div>
				</div>
			</div>
		</div>
		<!--FeedBack-->
		<div class="Feedback Frame FlexCol Aligin">
			<div class="Title Aligin FlexCol">
				<h1 class="Title">Cilent Feedback</h1>
				<p>You can leave a feedback, we will not pass yours</p>
			</div>
			<div class="Feedback Frame Aligin MarTop">
				<div class="rights Aligin">
					<i class="fa-solid fa-chevron-left color padding Aligin"></i>
				</div>
				<div class="Client Aligin fifty">
					<div class="Client Box FlexCol Aligin"> 
						<div class="avatar">
							<img src="">
						</div>
						<div class="Content Box FlexCol Aligin">
							<p class="Title">Sarah Clone</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit nec enim eget dignissim. Pellentesque sodales feugiat risus a lobortis.</p>
						</div>
					</div>
					<div class="Client Box FlexCol Aligin"> 
						<div class="avatar">
							<img src="">
						</div>
						<div class="Content Box FlexCol Aligin">
							<p class="Title">Sarah Clone</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit nec enim eget dignissim. Pellentesque sodales feugiat risus a lobortis.</p>
						</div>
					</div>
					<div class="Client Box FlexCol"> 
						<div class="avatar">
							<img src="">
						</div>
						<div class="Content Box FlexCol Aligin">
							<p class="Title">Sarah Clone</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit nec enim eget dignissim. Pellentesque sodales feugiat risus a lobortis.</p>
						</div>
					</div>
				</div>
				<div class="lefts Aligin">
					<i class="fa-solid fa-chevron-right color padding Aligin"></i>
				</div>
			</div>
		</div>
		<!--Live-->
		<div class="Live Frame Aligin FlexCol">
			<div class="Title">
				<h1>Join Our Live</h1>
				<p>You can leve a feedback, we will not pass yours</p>	
			</div>
			<div class="Content Container Aligin MarTop">
				<!--Live Set 1-->
				<div class="LiveStream Frame-2 font-azu">
					<div class="Image Container">
						<img src="">
					</div>
					<p class="Bolder Title-small martop-small font-azu">Friday Night: Answer all your Loving Questions</p>
					<p class="content martop-small">20 watching</p>
					<div class="FunctionButton Flex-Box Frame">
						<div class="Flex-Box Frame-4 FlexCol">
							<div class="avatar-small Aligin-Left martop-small-1">
								<div class="avt">
									<img src="">
								</div>
								<p>Mia Tu</p>
							</div>
							<div class="LiveStatus Flex-Box False Frame-7 Aligin-Left martop-small-1">
								<i class="LiveIcon Flex-Box Aligin"><i class="LiveIconInner"></i></i>
								<p class="Bold margin-2">LiveNow</p>
							</div>
						</div>
						<div class="Flex-Box Frame-6">
							<a href="#" class="Button Bold Frame Radius">Join Me</a>
						</div>
					</div>
				</div>
				<!--Live Set 2-->
				<div class="LiveStream Frame-2 font-azu">
					<div class="Image Container">
						<img src="">
					</div>
					<p class="Bolder Title-small martop-small font-azu">Friday Night: Answer all your Loving Questions</p>
					<p class="content martop-small">20 watching</p>
					<div class="FunctionButton Flex-Box Frame">
						<div class="Flex-Box Frame-4 FlexCol">
							<div class="avatar-small Aligin-Left martop-small-1">
								<div class="avt">
									<img src="">
								</div>
								<p>Mia Tu</p>
							</div>
							<div class="LiveStatus Flex-Box False Frame-7 Aligin-Left martop-small-1">
								<i class="LiveIcon Flex-Box Aligin"><i class="LiveIconInner"></i></i>
								<p class="Bold margin-2">LiveNow</p>
							</div>
						</div>
						<div class="Flex-Box Frame-6">
							<a href="#" class="Button Bold Frame Radius">Join Me</a>
						</div>
					</div>
				</div>
				<!--Live Set 3-->
				<div class="LiveStream Frame-2 font-azu">
					<div class="Image Container">
						<img src="">
					</div>
					<p class="Bolder Title-small martop-small font-azu">Friday Night: Answer all your Loving Questions</p>
					<p class="content martop-small">20 watching</p>
					<div class="FunctionButton Flex-Box Frame">
						<div class="Flex-Box Frame-4 FlexCol">
							<div class="avatar-small Aligin-Left martop-small-1">
								<div class="avt">
									<img src="">
								</div>
								<p>Mia Tu</p>
							</div>
							<div class="LiveStatus Flex-Box True Frame-7 Aligin-Left martop-small-1">
								<i class="LiveIcon Flex-Box Aligin"><i class="LiveIconInner"></i></i>
								<p class="Bold margin-2">schedule</p>
							</div>
						</div>
						<div class="Flex-Box Frame-6">
							<a href="#" class="Button Bold Frame Radius">Join Me</a>
						</div>
					</div>
				</div>
				<!--End Of Live-->
			</div>
		</div>
		<div class="devider"></div>
		<!--Contact-->
		<div class="Contact Flex-Box Aligin Frame FlexCol default-font-size">
			<div class="Title">
				<h1 class="Title">Contact Us</h1>
				<p>Leave us a message, we will reply in a few days</p>
			</div>
			<div class="Frame-7 Contact Flex-Box Aligin">
				<input type="text" name="Name" class="input Frame-4">
				<input type="text" name="PhoneNumb" class=" input Frame-4">
			</div>
			<div class="Container Buttons">
				<a href="#" class="Button">Send</a>
			</div>
		</div>
	</div>
	<!--Footer-->
	<div class="Container MainFooter">
		<!--Devider-->
		<div class="devider"></div>
		<!--Footer-->
		<div class="Container Flex-Box Aligin SumUp">
			<div class="Frame-3 Flex-Box outline-down height-10">
				<h1 class="Title martop-none">The Seaker</h1>
			</div>
			<div class="Frame-6 Flex-Box Aligin-Right outline-down height-10">
				<ul>
					<li class="Title-small Bolder">Services</li>
					<li>&nbsp;</li>
					<li><a href="#">Daily Reading</a></li>
					<li><a href="#">Love Reading</a></li>
					<li><a href="#">Your Zodiac</a></li>
				</ul>
				<ul>
					<li class="Title-small Bolder">Services</li>
					<li>&nbsp;</li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Tarot Reader</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
				<ul>
					<li class="Title-small Bolder">Services</li>
					<li>&nbsp;</li>
					<li><a href="#">Career Reading</a></li>
					<li><a href="#">Health Reading</a></li>
					<li><a href="#">Unlimited Questions</a></li>
				</ul>
				<div class="margin-left Flex-Box FlexCol">
					<a href="#" class="Button martop-small">Login</a>
					<a href="#" class="Button martop-small">Register</a>
				</div>
			</div>
		</div>
		<div class="Container Flex-Box Aligin SumDown">
			<div class="Frame-6 Flex-Box height-10 martop-small-3">
				<p>© Photo, Inc. 2023. We love our users!</p>
			</div>
			<div class="Frame-3 height-10 martop-small">
				<span>Follow Us: </span>
				<a href="#" class="fa fa-facebook margin-left Iconed padding-1em"></a>
				<a href="#" class="fa fa-snapchat-ghost margin-left Iconed padding-1em"></a>
				<a href="#" class="fa fa-instagram margin-left Iconed padding-1em"></a>
				<a href="#" class="fa fa-twitter margin-left Iconed padding-1em"></a>
			</div>
		</div>
	</div>
</body>
</html>